footer {
    width: 100vw;
    height: fit-content;
    padding: 1rem;
}

footer section {
    position: relative;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    border-radius: 8px;
    background-color: #99cc66;
    padding: 2rem 0.5rem;
    display: flex;
    flex-wrap: wrap;
    row-gap: 1rem;
    justify-content: space-around;
}

.footer-bubble {
    background-color: #ffff33;
    padding: 0.75rem 1rem;
    transform: rotate(var(--angle));
    font-size: 1.25rem;
    text-align: center;
    white-space: nowrap;
}

.footer-bubble:nth-of-type(1) {
    --angle: -5deg;
    border-radius: 81% 19% 81% 71% / 52% 41% 81% 40% ;
    border-radius: 81% 40% / 81% 90% ;
}

.footer-bubble:nth-of-type(2) {
    --angle: 20deg;
    border-radius: 45% 55% 83% 17% / 67% 42% 58% 33% ;
}

.footer-bubble:nth-of-type(3) {
    --angle: 5deg;
    border-radius: 62% 38% 43% 57% / 55% 71% 29% 45% ;
    padding: 1rem 1rem;
}

footer a {
    text-decoration: none;
    color: black;
}