footer {
    width: 100vw;
    height: fit-content;
    background-color: #99cc66;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: stretch;
    gap: 2rem;
    border: red solid 1px;
}

footer > * {
    flex: 1 1 45%;
    max-width: 45%;
    box-sizing: border-box;
}

footer img.blob-info {
    width: 100%;
    height: 100%;
    opacity: 0.5;
    position: absolute;
    z-index: -1;
}