@font-face {
    font-family: 'ArialRoundedMTBold';
    src: url('../fonts/arial-rounded-bold.ttf') format('truetype');
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

html,
body {
    scroll-behavior: smooth;
    overflow-x: hidden;
    height: 100%;
    background-color: #DEFFAB;
}

main {
    margin: 0 1rem;
    /* border: red solid 1px; */
}

h1 {
    font-size: 2rem;
    text-transform: uppercase;
}

h1,
h2,
h3 {
    text-align: center;
    font-family: 'ArialRoundedMTBold', Arial, sans-serif;
}

main section {
    margin: 2rem 0;
}

#title-tekst {
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

main img {
    width: 100%;
    height: auto;
    border-radius: .5rem;
    margin: 0.25rem 0;
}

.knapper {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

button {
    background-color: #99cc66;
    border: black solid 3px;
    padding: .75rem;
    border-radius: 0.5rem;
    cursor: pointer;
    font-size: clamp(1rem, 5vw, 2rem);
}

button:nth-of-type(even) {
    background-color: #ffff33;
}

#galleri {
    display: grid;
    gap: 0.5rem;
    grid-template-columns: repeat(4, 1fr);
}

#galleri img {
    width: 100%;
    aspect-ratio: 1 / 1;
    object-fit: cover;
    border-radius: 0.5rem;
    margin: 0;
}



form {
    padding: 2rem;
    display: flex;
    flex-direction: column;
}

form h1 {
    margin-bottom: 3rem;
}

form label {
    font-weight: bold;
    font-size: 1rem;
}

form input {
    background-color: #ffff66;
    border: none;
    padding: 0.75rem;
    margin-bottom: 2rem;
    border-radius: 0.5rem;
    font-size: 1rem;
    border: 2px solid transparent;
}

form input:focus {
    outline: none;
    border: 2px solid #99cc66;
}

.toast {
    position: fixed;
    bottom: 1rem;
    right: -100%;
    background: #ffff33;
    padding: 0.5rem 1.25rem;
    margin: 1rem;
    height: fit-content;
    border-radius: 0.5rem;
    box-shadow: 0 2px 8px rgba(0,0,0,0.15);
    font-size: 1.25rem;
    z-index: 2;
    opacity: 0.95;
    text-align: center;
    pointer-events: none;
    transition: right 0.5s;
    text-align: left;
    line-break: loose;
}

@keyframes toast-fadein {
    from { opacity: 0; transform: translateX(-50%) translateY(30px);}
    to { opacity: 0.95; transform: translateX(-50%) translateY(0);}
}

@media only screen and (min-width: 768px) {
    body {
        background-color: #b70000;
    }

    /* Width of the scrollbar */
    body::-webkit-scrollbar {
        width: 8px;
    }

    /* Track background (lighter to match the dark gradient background) */
    body::-webkit-scrollbar-track {
        background: #0f284f;
        border-radius: 0 4px 4px 0;
    }

    /* Drag-handle (darker for contrast) */
    body::-webkit-scrollbar-thumb {
        background: #00428d;
        border-radius: 4px;
    }

    /* Handle on hover (slightly lighter for visibility) */
    body::-webkit-scrollbar-thumb:hover {
        background: #1A4475;
    }

    /* Handle when actively being dragged */
    body::-webkit-scrollbar-thumb:active {
        background: #205490;
    }
}